/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
fitness.zip
/public/uploads
/public/favicon
/public/fitsigma_customer/images
/public/fitsigma/images
/public/admin/email-attachments
/public/admin/gym-email-template
/public/admin/pages
/public/admin/global
/public/admin/payments

*.sql
