
.gap-payments {
    padding-left: 12px;
}
.inactive {
    color: #54667a!important;
    font-weight: 100!important;
}
.logo-style {
    padding-top: 8px;
    width: 210px;
    height: 57px;
    padding-left: 6px;
}
.modal-dialog{
    margin-top: 150px;
}
@media (min-width: 585px){
    .modal-content {
        margin-top: 150px !important;
    }
}

@media (max-width: 767px) {
    .dropdown .dropdown-tasks, .dropdown .mailbox {
        left: -190px;
    }
}
.widget-thumb .widget-thumb-body .widget-thumb-body-stat {
    font-size: 25px;
}
